<div class="px-4 py-1 my-5 text-center">
  <h1 class="vagasHeader d-flex justify-content-center p-3 my-3 rounded shadow-sm">Cadastro de empresa</h1>
</div>

<form class="form-floating" #f="ngForm" (ngSubmit)="onSubmit(f)">

  <div class="row g-3">

    <div class="col-md">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" [ngClass]="validacaoCampo(nomefantasia)" id="nomefantasia"
          placeholder="Nome Fantasia" name="nomefantasia" ngModel required #nomefantasia="ngModel">
        <label for="nomefantasia" required>Nome Fantasia</label>
        <div class="mensagem" *ngIf="!nomefantasia.valid && nomefantasia.touched">
          Campo obrigatório
        </div>
      </div>
    </div>

    <div class="col-md">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" [ngClass]="validacaoCampo(razaosocial)" id="razaosocial"
          placeholder="Razão Social" name="razaosocial" ngModel required #razaosocial="ngModel">
        <label for="razaosocial">Razão Social</label>
        <div class="mensagem" *ngIf="!razaosocial.valid && razaosocial.touched">
          Campo obrigatório
        </div>
      </div>
    </div>

  </div>

  <div class="row g-3">

    <div class="col-md">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" [ngClass]="validacaoCampo(cnpj)" id="cnpj" placeholder="CNPJ"
          maxlength="18" name="cnpj" ngModel required #cnpj="ngModel" (blur)="validacaoCNPJ($event.target.value)">
        <label for="cnpj">CNPJ</label>
        <small id="alerta-cnpj" style="display: none;">CNPJ inválido! <br></small>
        <small class="form-text text-muted">Digite no formato: XX. XXX. XXX/0001-XX</small>
      </div>
    </div>

    <div class="col-md">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" [ngClass]="validacaoCampo(segmento)" id="segmento"
          placeholder="Segmento" name="segmento" ngModel required #segmento="ngModel">
        <label for="segmento">Segmento</label>
        <div class="mensagem" *ngIf="!razaosocial.valid && razaosocial.touched">
          Campo obrigatório
        </div>
      </div>
    </div>

  </div>

  <hr>
  <h4>Contato</h4>

  <div ngModelGroup="contato">

    <div class="form-floating mb-3">
      <input type="tel" class="form-control" [ngClass]="validacaoCampo(telefone)" id="telefone" placeholder="Telefone"
        name="telefone" ngModel required #telefone="ngModel">
      <label for="telefone">Telefone</label>
      <div class="mensagem" *ngIf="!telefone.valid && telefone.touched">
        Campo obrigatório
      </div>
    </div>

    <div class="form-floating mb-3">
      <input type="email" class="form-control" [ngClass]="validacaoCampo(email)" id="email"
        placeholder="name@example.com" name="email" ngModel email required #email="ngModel">
      <label for="email">Email</label>
      <div class="mensagem" *ngIf="!email.valid && email.touched">
        Campo obrigatório
      </div>
    </div>

    <div class="form-floating mb-3">
      <input type="url" class="form-control" id="website" placeholder="Website" ngModel name="website"
        #website="ngModel">
      <label for="website">Website</label>
    </div>

  </div>

  <hr>
  <h4>Endereço</h4>

  <div ngModelGroup="endereco">

    <div class="row g-3">

      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [ngClass]="validacaoCampo(cep)" id="cep" placeholder="CEP"
            maxlength="9" (blur)="buscarCep($event.target.value, f)" name="cep" ngModel #cep="ngModel" required>
          <label for="cep">CEP</label>
          <div class="mensagem" *ngIf="!cep.valid && cep.touched">
            Campo obrigatório
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="cidade" placeholder="Cidade" name="cidade" ngModel
            #cidade="ngModel" required>
          <label for="cidade">Cidade</label>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="uf" placeholder="UF" maxlength="2" name="uf" ngModel #uf="ngModel"
          required>
          <label for="uf">UF</label>
        </div>
      </div>

    </div>

    <div class="row g-3">

      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="bairro" placeholder="Bairro" name="bairro" ngModel
            #bairro="ngModel" required>
          <label for="bairro">Bairro</label>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="rua" placeholder="Rua" name="rua" ngModel
            #rua="ngModel" required>
          <label for="rua">Rua</label>
        </div>
      </div>

    </div>

    <div class="row g-3">

      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [ngClass]="validacaoCampo(numero)" id="numero" placeholder="Número"
            name="numero" ngModel #numero="ngModel" required>
          <label for="numero">Número</label>
          <div class="mensagem" *ngIf="!numero.valid && numero.touched">
            Campo obrigatório
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" [ngClass]="validacaoCampo(complemento)" id="complemento"
            placeholder="Complemento" name="complemento" ngModel #complemento="ngModel" required>
          <label for="complemento">Complemento</label>
          <div class="mensagem" *ngIf="!complemento.valid && complemento.touched">
            Campo obrigatório
          </div>
        </div>
      </div>

    </div>
  </div>

  <hr>
  <h4>Login</h4>

  <div ngModelGroup="usuario">

    <div class="row g-3">

      <div class="col-md">
        <div class="input-group mb-3">
          <div class="form-floating">
            <input type="text" class="form-control" [ngClass]="validacaoCampo(username)" id="username"
              placeholder="Username" name="username" ngModel #username="ngModel" required>
            <label for="username">Username</label>
            <div class="mensagem" *ngIf="!username.valid && username.touched">
              Campo obrigatório
            </div>
          </div>
        </div>
      </div>

      <div class="col-md">
        <div class="form-floating">
          <input type="password" class="form-control" [ngClass]="validacaoCampo(password)" id="password"
            placeholder="Senha" name="password" ngModel #password="ngModel" required>
          <label for="senha">Senha</label>
          <div class="mensagem" *ngIf="!password.valid && password.touched">
            Campo obrigatório
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="text-center">
    <div class="botoes">
      <button type="submit" class="w-100 btn btn-lg" [disabled]="!f.valid"><span>Cadastrar</span></button>
    </div>
  </div>

</form>
