<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <h1><a href="index.html" class="logo">STARTI</a></h1>
      <h4>Seja bem vindo!</h4>
      <ul class="list-unstyled components mb-5">
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="/vagas">Vagas</a>
        </li>
        <li>
          <a href="/candidato">Minhas Candidaturas</a>
        </li>
        <li>
          <a href="/candidato/editar-perfil">Editar Perfil</a>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="voltar()">
            <i class="fa-solid fa-circle-left"></i>
            Voltar
          </a>
        </li>
      </ul>
      <div>


      </div>

    </div>
  </nav>


  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <div class="vagasHeader d-flex align-items-center p-3 my-3 rounded shadow-sm">
      <h5 class="mb-0">Editar Perfil</h5>
    </div>
    <form [formGroup]="formulario">

      <div class="row g-3">

        <div class="col-md">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome"
            [ngClass]="validacaoCampo('nome')">
            <label for="nome">Nome</label>
          </div>
        </div>

        <div class="col-md">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="sobrenome" placeholder="Sobrenome" formControlName="sobrenome" [ngClass]="validacaoCampo('sobrenome')">
            <label for="sobrenome">Sobrenome</label>
          </div>
        </div>

      </div>

      <div class="row g-3">

        <div class="col-md">
          <div class="form-floating mb-3">
            <input type="text" class="form-control" id="cpf" placeholder="CPF" maxlength="14" formControlName="cpf"
            (blur)="validacaoCPF()" [ngClass]="validacaoCampo('cpf')">
            <label for="cpf">CPF</label>
            <small id="alerta-cpf" style="display: none;">CPF inválido! <br></small>
            <small class="form-text text-muted">Digite no formato: 111.111.111-11</small>
          </div>
        </div>

        <div class="col-md">
          <div class="form-floating mb-3">
            <input type="date" class="form-control" id="datadenascimento" placeholder="Data de Nascimento"
              formControlName="dataDeNascimento" [ngClass]="validacaoCampo('dataDeNascimento')">
            <label for="datadenascimento">Data de Nascimento</label>
          </div>
        </div>

      </div>

      <hr>
      <h4>Contato</h4>

      <div formGroupName="contato">
        <div class="form-floating mb-3">
          <input type="tel" class="form-control" id="telefone" placeholder="Telefone" formControlName="telefone"
          [ngClass]="validacaoCampo('contato.telefone')">
          <label for="telefone">Telefone</label>
        </div>

        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="email" placeholder="Email" formControlName="email" [ngClass]="validacaoCampo('contato.email')">
          <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3">
          <input type="url" class="form-control" id="website" placeholder="Website" formControlName="website">
          <label for="website">Website</label>
        </div>
      </div>

      <hr>
      <h4>Endereço</h4>

      <div formGroupName="endereco">

        <div class="row g-3">

          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="cep" placeholder="CEP" formControlName="cep" (blur)="buscarCEP()" [ngClass]="validacaoCampo('endereco.cep')">
              <label for="cep">CEP</label>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="cidade" placeholder="Cidade" formControlName="cidade" [ngClass]="validacaoCampo('endereco.cidade')">
              <label for="cidade">Cidade</label>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="uf" placeholder="UF" maxlength="2" formControlName="uf" [ngClass]="validacaoCampo('endereco.uf')">
              <label for="uf">UF</label>
            </div>
          </div>

        </div>

        <div class="row g-3">

          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="bairro" placeholder="Bairro" formControlName="bairro" [ngClass]="validacaoCampo('endereco.bairro')">
              <label for="bairro">Bairro</label>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="rua" placeholder="Rua" formControlName="rua" [ngClass]="validacaoCampo('endereco.rua')">
              <label for="rua">Rua</label>
            </div>
          </div>

        </div>

        <div class="row g-3">

          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="numero" placeholder="Número" formControlName="numero" [ngClass]="validacaoCampo('endereco.numero')">
              <label for="numero">Número</label>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="complemento" placeholder="Complemento"
                formControlName="complemento" [ngClass]="validacaoCampo('endereco.complemento')">
              <label for="complemento">Complemento</label>
            </div>
          </div>

        </div>
      </div>

      <hr>
      <h4>Login</h4>

      <div formGroupName="userId">

        <div class="row g-3">

          <div class="col-md">
            <div class="input-group mb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="username" placeholder="Usuário" formControlName="username" [ngClass]="validacaoCampo('userId.username')">
                <label for="username">Usuário</label>
              </div>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating">
              <input type="password" class="form-control" id="password" placeholder="Senha" formControlName="password" [ngClass]="validacaoCampo('userId.password')">
              <label for="senha">Senha</label>
            </div>
          </div>

        </div>
      </div>

      <div class="text-center">
        <div class="botoes">
          <button type="submit" class="w-100 btn btn-lg" data-bs-toggle="modal" data-bs-target="#atualizar"><span>Atualizar dados</span></button>
        </div>

        <div class="botoes">
          <button type="submit" class="w-100 btn btn-lg" data-bs-toggle="modal" data-bs-target="#deletar"><span>Excluir conta</span></button>
        </div>
      </div>

    </form>





  </div>
</div>

<!-- Atualizar -->
<div class="modal fade" id="atualizar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Atualizar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja atualizar seus dados?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="onEdit()">Atualizar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deletar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Deletar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Tem certeza que deseja excluir sua conta?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary" (click)="onDelete()">Excluir conta</button>
      </div>
    </div>
  </div>
</div>
