<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <h1><a href="index.html" class="logo">STARTI</a></h1>
      <h4>Seja bem vindo!</h4>
      <ul class="list-unstyled components mb-5">
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="/vagas">Vagas</a>
        </li>
        <li>
          <a href="/empresa">Minhas Vagas</a>
        </li>
        <li>
          <a href="/empresa/editar-perfil">Editar Perfil</a>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="voltar()">
            <i class="fa-solid fa-circle-left"></i>
            Voltar
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <div
      class="vagasHeader d-flex align-items-center p-3 my-3 rounded shadow-sm"
    >
      <h5 class="mb-0">Vagas Criadas</h5>
    </div>

    <a href="/vagas/cadastrarvaga"
      ><button id="btn" class="mb-2">
        <i class="fa-solid fa-plus"></i> Nova vaga
      </button></a
    >

    <form [formGroup]="form">
      <div *ngFor="let vaga of vagas; let i = index">
        <div class="list-group w-auto">
          <span
            class="list-group-item list-group-item-action d-flex gap-3 py-3 mb-2"
            aria-current="true"
          >
            <img
              src="https://github.com/twbs.png"
              alt="twbs"
              width="32"
              height="32"
              class="rounded-circle flex-shrink-0"
            />
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h5 class="mb-1">Cargo: {{ vagas[i].cargo }}</h5>
                <h6>{{ vagas[i].modalidade }} <> {{ vagas[i].tipo }}</h6>

                <p class="mb-2 opacity-75">{{ vagas[i].descricao }}</p>
                <p>
                  <small style="color: red"
                    >Prazo final para candidatura:
                    {{ vagas[i].prazo | date: "dd/MM/yyyy" }}</small
                  >
                </p>
                <button (click)="editar(vagas[i].id)" id="btn">
                  Editar Vaga
                </button>
                <button id="btn" (click)="remover(vagas[i].id)">
                  Remover Vaga
                </button>
              </div>
            </div>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>

<ng-template #deletarModal>
  <div class="modal-body text-center">
    <p>Deseja remover a vaga?</p>
    <button
      type=" button"
      class="btn btn-default mx-3"
      (click)="onConfirmDelete()"
    >
      Sim
    </button>
    <button type="button" id="btn" (click)="onDeclineDelete()">Não</button>
  </div>
</ng-template>
