<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="p-4 pt-5">
      <h1><a href="index.html" class="logo">STARTI</a></h1>
      <h4>Seja bem vindo!</h4>
      <ul class="list-unstyled components mb-5">
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="/vagas">Vagas</a>
        </li>
        <li>
          <a href="/candidato">Minhas Candidaturas</a>
        </li>
        <li>
          <a href="/candidato/editar-perfil">Editar Perfil</a>
        </li>
        <li>
          <a href="javascript:void(0)" (click)="voltar()">
            <i class="fa-solid fa-circle-left"></i>
            Voltar
          </a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Page Content  -->
  <div id="content" class="p-4 p-md-5 pt-5">
    <div
      class="vagasHeader d-flex align-items-center p-3 my-3 rounded shadow-sm"
    >
      <h5 class="mb-0">Minhas Candidaturas</h5>
    </div>

    <form [formGroup]="form">
      <div *ngFor="let vaga of vagas; let i = index">
        <div class="list-group w-auto">
          <span
            class="list-group-item list-group-item-action d-flex gap-3 py-3 mb-2"
            aria-current="true"
          >
            <img
              src="https://github.com/twbs.png"
              alt="twbs"
              width="32"
              height="32"
              class="rounded-circle flex-shrink-0"
            />
            <div class="d-flex gap-2 w-100 justify-content-between">
              <div>
                <h5 class="mb-1">
                  Empresa: {{ vagas[i].vaga.empresa.nomeFantasia }}
                </h5>
                <h6>{{ vagas[i].vaga.cargo }}</h6>
                <p class="mb-2 opacity-75">{{ vagas[i].vaga.descricao }}</p>
                <button id="btn">Saber mais</button>
                <button id="btn" (click)="remover(vagas[i].vaga.id)">Remover candidatura</button>
              </div>
            </div>
          </span>
        </div>
      </div>
    </form>
  </div>
</div>
