<div class="container mb-5 mt-5">
  <div class="row d-flex justify-content-center align-items-center">
      <div class="col-lg-6">
        <img class="img-fluid" src="../assets/img/login.svg">
      </div>
      <div class="login col-lg-6">
        <div class="form-signin w-100 m-auto ">
        <form >
          <h1 class="h3 mb-3 fw-normal text-center">Já é nosso parceiro?</h1>
          <p class="text-center">Faça o seu login</p>

          <div class="form-floating">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              placeholder="name@example.com"
            />
            <label for="floatingInput">Digite o nome de Usuário</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              placeholder="Password"
            />
            <label for="floatingPassword">Password</label>
          </div>

          <div class="checkbox mb-3">
            <label> <input type="checkbox" value="remember-me" /> Remember me </label>
          </div>
          <button class="w-100 btn btn-lg" type="submit">Sign in</button>

        </form></div>
      </div>
  </div>
</div>


