
.container{
  width: 100vw;
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  min-width: 300px;

}

.row{
  width: 100%;
}

.form-signin {
  max-width: 350px;
  padding: 10px 15px;
  border-bottom: 3px solid #8c0bcd;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

button{
  border:none;
  background-color:  #631ddc !important;
  color: #fff !important;
}

button:hover{
  background-color:  #730bcd !important;
  color: #fff;
}


@media (max-width: 991px) {


  .col-lg-6{
    display: flex;
    justify-content: center;
    align-items: center;

  }

  img{
    width: 80%;
    justify-content: center;

  }

  .login{
    min-width: 300px;
    margin-top: 50px;
  }



}
