*{
  margin: 0;
}

form {
  margin-top: 50px;
  margin-left:15%;
  margin-right:15%;
}

.button{
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  margin-right: 5px;
}
.cancel{
  background-color:  #fff;
  border: 1px solid rgb(174, 174, 174);
}

.cancel:hover{
  color:gray
}

.confirmar{
  background-color:  #7e00ec;
  color: #fff;
}

.confirmar:hover{
  background-color: #942173;
  transition: 1s;
}


@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}


input, label {
  font-family: "Poppins", sans-serif;
}


