<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- ======= Header ======= -->

    <header id="header" class="fixed-top header-inner-pages">
      <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
          <a class="navbar-brand m-3 logo" href="#">StarTI</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link home active" aria-current="page" href="#"
                  >Home</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Vagas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">Sobre</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contato">Contato</a>
              </li>
            </ul>

            <button class="nav-link getstarted">Cadastrar-se</button>
            <button class="nav-link getstarted">Login</button>
          </div>
        </div>
      </nav>
    </header>

    <!-- .navbar -->

    <!-- Fim do Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container-fluid" data-aos="fade-up">
        <div class="row justify-content-center">
          <div
            class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
          >
            <h1>STARTI Dev</h1>
            <h2>
              As melhores vagas para os profissionais que querem iniciar na
              carreira Tech
            </h2>
            <div>
              <a href="#about" class="btn-get-started scrollto">Get Started</a>
            </div>
          </div>
          <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img">
            <img
              src="assets/img/hero-img.png"
              class="img-fluid animated"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients section-bg">
      <div class="container">
        <div class="row" data-aos="zoom-in">
          <div
            class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <img
              src="assets/img/clients/xp-inc-new.webp"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <img
              src="assets/img/clients/serasa-experian.webp"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <img
              src="assets/img/clients/CIT-news.png"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <img
              src="assets/img/clients/client-4.png"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <img
              src="assets/img/clients/accenture.png"
              class="img-fluid"
              alt=""
            />
          </div>

          <div
            class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
          >
            <img src="assets/img/clients/IBM.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Cliens Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>últimas Vagas</h2>
        </div>
        <div class="row gy-4">
          <div
            class="col-lg-4 col-md-6"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="service-box blue">
              <i class="fab fa-github fa-4x" aria-hidden="true"></i>
              <h3>Nesciunt Mete</h3>
              <p>
                Provident nihil minus qui consequatur non omnis maiores. Eos
                accusantium minus dolores iure perferendis tempore et
                consequatur.
              </p>
              <a href="#" class="read-more"
                ><span>Read More </span>
                <i class="fa fa-long-arrow-right fa-fw" aria-hidden="true"></i
              ></a>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6"
            data-aos="fade-up"
            data-aos-delay="300"
          >
            <div class="service-box orange">
              <i class="fa fa-coffee fa-4x"></i>
              <h3>Eosle Commodi</h3>
              <p>
                Ut autem aut autem non a. Sint sint sit facilis nam iusto sint.
                Libero corrupti neque eum hic non ut nesciunt dolorem.
              </p>
              <a href="#" class="read-more"
                ><span>Read More </span>
                <i class="fa fa-long-arrow-right fa-fw" aria-hidden="true"></i
              ></a>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6"
            data-aos="fade-up"
            data-aos-delay="400"
          >
            <div class="service-box green">
              <i class="fa fa-cubes fa-4x"></i>
              <h3>Ledo Markt</h3>
              <p>
                Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus
                ea aut. Vel qui id voluptas adipisci eos earum corrupti.
              </p>
              <a href="#" class="read-more"
                ><span>Read More </span>
                <i class="fa fa-long-arrow-right fa-fw" aria-hidden="true"></i
              ></a>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6"
            data-aos="fade-up"
            data-aos-delay="500"
          >
            <div class="service-box red">
              <i class="fa fa-info-circle fa-4x" aria-hidden="true"></i>
              <h3>Asperiores Commodi</h3>
              <p>
                Non et temporibus minus omnis sed dolor esse consequatur.
                Cupiditate sed error ea fuga sit provident adipisci neque.
              </p>
              <a href="#" class="read-more"
                ><span>Read More</span>
                <i class="fa fa-long-arrow-right fa-fw" aria-hidden="true"></i
              ></a>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6"
            data-aos="fade-up"
            data-aos-delay="600"
          >
            <div class="service-box purple">
              <i class="fab fa-android fa-4x" aria-hidden="true"></i>
              <h3>Velit Doloremque.</h3>
              <p>
                Cumque et suscipit saepe. Est maiores autem enim facilis ut aut
                ipsam corporis aut. Sed animi at autem alias eius labore.
              </p>
              <a href="#" class="read-more"
                ><span>Read More </span>
                <i class="fa fa-long-arrow-right fa-fw" aria-hidden="true"></i
              ></a>
            </div>
          </div>

          <div
            class="col-lg-4 col-md-6"
            data-aos="fade-up"
            data-aos-delay="700"
          >
            <div class="service-box pink">
              <i class="fa fa-graduation-cap fa-4x" aria-hidden="true"></i>
              <h3>Dolori Architecto</h3>
              <p>
                Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque
                non et debitis iure. Corrupti recusandae ducimus enim.
              </p>
              <a href="#" class="read-more"
                ><span>Read More </span>
                <i class="fa fa-long-arrow-right fa-fw" aria-hidden="true"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">
        <div class="section-title">
          <h2>Testemunhos</h2>
          <p>
            Sit sint consectetur velit quisquam cupiditate impedit suscipit
            alias
          </p>
        </div>
        <div
          class="testimonials-slider "
        >
          <div class="swiper-wrapper ">
            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Proin iaculis purus consequat sem cure digni ssim donec
                  porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                  eget id, aliquam eget nibh et. Maecen aliquam, risus at
                  semper.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img
                  src="assets/img/testimonials/testimonials-1.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Saul Goodman</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Export tempor illum tamen malis malis eram quae irure esse
                  labore quem cillum quid cillum eram malis quorum velit fore
                  eram velit sunt aliqua noster fugiat irure amet legam anim
                  culpa.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img
                  src="assets/img/testimonials/testimonials-2.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Sara Wilsson</h3>
                <h4>Designer</h4>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Enim nisi quem export duis labore cillum quae magna enim sint
                  quorum nulla quem veniam duis minim tempor labore quem eram
                  duis noster aute amet eram fore quis sint minim.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img
                  src="assets/img/testimonials/testimonials-3.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Jena Karlis</h3>
                <h4>Store Owner</h4>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                  multos export minim fugiat minim velit minim dolor enim duis
                  veniam ipsum anim magna sunt elit fore quem dolore labore
                  illum veniam.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img
                  src="assets/img/testimonials/testimonials-4.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>Matt Brandon</h3>
                <h4>Freelancer</h4>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                  veniam tempor noster veniam enim culpa labore duis sunt culpa
                  nulla illum cillum fugiat legam esse veniam culpa fore nisi
                  cillum quid.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img
                  src="assets/img/testimonials/testimonials-5.jpg"
                  class="testimonial-img"
                  alt=""
                />
                <h3>John Larson</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div>
            <!-- End testimonial item -->
          </div>

          <div class="swiper-pagination"></div>


        </div>

      </div>
    </section>
    <!-- End Testimonials Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="row gx-0">
          <div
            class="col-lg-6 d-flex flex-column justify-content-center"
            data-aos="fade-up"
            data-aos-delay="200"
          >
            <div class="section-title">
              <h2>Sobre nós</h2>
            </div>

            <div class="content">
              <h2>
                Expedita voluptas omnis cupiditate totam eveniet nobis sint
                iste. Dolores est repellat corrupti reprehenderit.
              </h2>
              <p>
                Quisquam vel ut sint cum eos hic dolores aperiam. Sed deserunt
                et. Inventore et et dolor consequatur itaque ut voluptate sed
                et. Magnam nam ipsum tenetur suscipit voluptatum nam et est
                corrupti.
              </p>
              <div class="text-center text-lg-start">
                <a
                  href="#"
                  class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
                >
                  <span>Read More</span>
                  <i class="fas fa-long-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>

          <div
            class="col-lg-6 d-flex align-items-center"
            data-aos="zoom-out"
            data-aos-delay="200"
          >
            <img src="assets/img/about.jpg" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">
        <div class="section-title">
          <h2>A Equipe</h2>
          <h3>Our Hardworking <span>Team</span></h3>
          <p>
            Ut possimus qui ut temporibus culpa velit eveniet modi omnis est
            adipisci expedita at voluptas atque vitae autem.
          </p>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img
                  src="assets/img/team/team-1.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-linkedin"></i></a>
                </div>
              </div>

              <div class="member-info">
                <h4>Bárbara Pimenta</h4>
                <span>Chief Executive Officer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img
                  src="assets/img/team/team-2.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Dayane Leal</h4>
                <span>Product Manager</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member">
              <div class="member-img">
                <img
                  src="assets/img/team/team-3.jpg"
                  class="img-fluid"
                  alt=""
                />
                <div class="social">
                  <a href=""><i class="fab fa-twitter"></i></a>
                  <a href=""><i class="fab fa-facebook"></i></a>
                  <a href=""><i class="fab fa-instagram"></i></a>
                  <a href=""><i class="fab fa-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Kelly Pineo</h4>
                <span>CTO</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Team Section -->

    <div class="division"></div>

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq" >
      <div class="container" data-aos="fade-up">
        <div class="section-title">
          <h2>Perguntas Frequentes</h2>
        </div>

        <ul class="faq-list accordion" data-aos="fade-up">
          <li>
            <a
              data-bs-toggle="collapse"
              class="collapsed"
              data-bs-target="#faq1"
              >Non consectetur a erat nam at lectus urna duis?
              <i class="fa fa-angle-down icon-show"></i
              ><i class="fa fa-times icon-close"></i
            ></a>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id
                volutpat lacus laoreet non curabitur gravida. Venenatis lectus
                magna fringilla urna porttitor rhoncus dolor purus non.
              </p>
            </div>
          </li>

          <li>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq2"
              class="collapsed"
              >Feugiat scelerisque varius morbi enim nunc faucibus a
              pellentesque? <i class="fa fa-angle-down icon-show"></i
              ><i class="fa fa-times icon-close"></i
            ></a>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant
                morbi. Id interdum velit laoreet id donec ultrices. Fringilla
                phasellus faucibus scelerisque eleifend donec pretium. Est
                pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
                cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq3"
              class="collapsed"
              >Dolor sit amet consectetur adipiscing elit pellentesque habitant
              morbi? <i class="fa fa-angle-down icon-show"></i
              ><i class="fa fa-times icon-close"></i
            ></a>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                Eleifend mi in nulla posuere sollicitudin aliquam ultrices
                sagittis orci. Faucibus pulvinar elementum integer enim. Sem
                nulla pharetra diam sit amet nisl suscipit. Rutrum tellus
                pellentesque eu tincidunt. Lectus urna duis convallis convallis
                tellus. Urna molestie at elementum eu facilisis sed odio morbi
                quis
              </p>
            </div>
          </li>

          <li>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq4"
              class="collapsed"
              >Ac odio tempor orci dapibus. Aliquam eleifend mi in nulla?
              <i class="fa fa-angle-down icon-show"></i
              ><i class="fa fa-times icon-close"></i
            ></a>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Dolor sit amet consectetur adipiscing elit pellentesque habitant
                morbi. Id interdum velit laoreet id donec ultrices. Fringilla
                phasellus faucibus scelerisque eleifend donec pretium. Est
                pellentesque elit ullamcorper dignissim. Mauris ultrices eros in
                cursus turpis massa tincidunt dui.
              </p>
            </div>
          </li>

          <li>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq5"
              class="collapsed"
              >Tempus quam pellentesque nec nam aliquam sem et tortor consequat?
              <i class="fa fa-angle-down icon-show"></i
              ><i class="fa fa-times icon-close"></i
            ></a>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                Molestie a iaculis at erat pellentesque adipiscing commodo.
                Dignissim suspendisse in est ante in. Nunc vel risus commodo
                viverra maecenas accumsan. Sit amet nisl suscipit adipiscing
                bibendum est. Purus gravida quis blandit turpis cursus in
              </p>
            </div>
          </li>

          <li>
            <a
              data-bs-toggle="collapse"
              data-bs-target="#faq6"
              class="collapsed"
              >Tortor vitae purus faucibus ornare. Varius vel pharetra vel
              turpis nunc eget lorem dolor?
              <i class="fa fa-angle-down icon-show"></i
              ><i class="fa fa-times icon-close"></i
            ></a>
            <div id="faq6" class="collapse" data-bs-parent=".faq-list">
              <p>
                Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris
                vitae ultricies leo integer malesuada nunc vel. Tincidunt eget
                nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed.
                Ut venenatis tellus in metus vulputate eu scelerisque.
                Pellentesque diam volutpat commodo sed egestas egestas fringilla
                phasellus faucibus. Nibh tellus molestie nunc non blandit massa
                enim nec.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <!-- End Frequently Asked Questions Section -->

    <!-- ======= Footer ======= -->
    <footer id="contato">
      <div class="container d-flex justify-content-center">
        <div class="foot-icons">
          <ul class="footer-social-links d-flex flex-row">
            <li>
              <a href="#" target="_blank" class="foot-icon-bg-1"
                ><i class="fab fa-facebook-f"></i
              ></a>
            </li>
            <li>
              <a href="#" target="_blank" class="foot-icon-bg-2"
                ><i class="fab fa-twitter"></i
              ></a>
            </li>
            <li>
              <a href="#" target="_blank" class="foot-icon-bg-3"
                ><i class="fab fa-instagram fa-lg"></i
              ></a>
            </li>
          </ul>
          <p>
            &copy; 2022 <a href="https://www.themesine.com">StarTI</a>. All
            Right Reserved
          </p>
          <a href="#" class="back-to-top">
            <i class="fas fa-angle-double-up fa-lg"></i>
          </a>
        </div>
      </div>
    </footer>

    <!-- Fim do Footer -->

    <!-- Template Main JS File -->

    <div id="preloader"></div>
  </body>
</html>
