<div class="d-flex justify-content-center align-items-center">
  <a routerLink="/cadastro/candidato">
    <div
      class="img-cadastro d-flex flex-column justify-content-center align-items-center"
    >
      <img src="../../../assets/img/candidato.svg" alt="Duas pessoas" />
      <div class="botoes">
        <a class="w-100 btn btn-lg" role="button"
          ><span> <h3>Sou um candidato</h3></span></a
        >
      </div>
    </div>
  </a>

  <a routerLink="/cadastro/candidato">
    <div
      class="img-cadastro d-flex flex-column justify-content-center align-items-center"
    >
      <img src="../../../assets/img/cadastro.svg" alt="Equipe" />
      <div class="botoes">
        <a class="w-100 btn btn-lg" role="button"
          ><span> <h3>Sou uma empresa</h3></span></a
        >
      </div>
    </div>
  </a>
</div>
