.botoes {
  margin: 20px 1%;
  border:none !important;
  background-color:  transparent;
  border-radius: 8px;
  max-width: 300px;
  display: inline-block;
  vertical-align: top;
}

.btn{
  border: none;
}

span{
  color: #631ddc ;
}

.img-cadastro {
  width: 380px;
  display: block;
  padding-top: 50px;
  margin: 50px;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

.img-cadastro:hover{
  background-color:  #631ddc  !important;
  height: 100%;
}

.img-cadastro:hover span{
  border: none !important;
  color: #fff;
}
