
html, body{
  height: 100vh;
}

body {
  font-family: "Open Sans", sans-serif!important;
  color: #444444;
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

ul li {
  list-style: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif!important;
}

a{
  text-decoration: none;
}
