.botoes {
  margin: 20px 1%;
  border:none;
  background-color:  #631ddc !important;
  border-radius: 8px;
  max-width: 280px;
  display: inline-block;
  vertical-align: top;
}

#btn{
 color:#fff;
}

a:hover{
  background-color:  #730bcd !important;
}

.img-cadastro {
  width: 60%;
}

.row{
  margin-left: 50px;
}

.title{
  margin-top: 20px;
}

