.botoes {
  margin: 20px 1%;
  border:none;
  background-color:  #631ddc !important;
  border-radius: 8px;
  max-width: 280px;
  display: inline-block;
  vertical-align: top;
}

span{
  color: #fff;
}

a:hover{
  background-color:  #730bcd !important;
}

.img-cadastro {
  width: 490px;
  display: block;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 40px;
}
