.row{
  margin: 0;
  width: 100%;
}

#btn{
 color:#fff;
 border:1px solid transparent;
 background-color:  #631ddc !important;
 padding: 5px 10px;
 margin-top: 5px;
 border-radius: 2px;
}

#btn:hover{
  transition: 0.5s;
  background-color:  #6e1df9 !important;
}

input[type=text] {
  margin-top: 10px;
  border: 1px solid rgb(230, 230, 230);
  padding: 5px 10px;
}

input:focus{
  outline:0px;
}

a:hover{
  background-color:  #730bcd !important;
}

.img-cadastro {
  width: 60%;
}


.title{
  margin-top: 20px;
}

.vagasHeader{
  background-color:#631DDC;
  color: #fff;
}

.list-group-item:hover{
  background-color: rgb(252, 252, 252) !important;
}

.search-form{
  min-width: 262px;
}

.sidebar{
  margin-top: 8rem;
}

.col-lg-4{
  background-color: #f6f6f6;
  min-width: 360px;
}

.list-group{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width:991px){

  .sidebar{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 50px;
  }

  .sidebar > fieldset{
    margin-right: 10px;
  }

  .search-form{
    margin-right: 10px;
  }

  .slider{
    width: 150px;
  }


  .row{
    margin: 0;
  }
}


