<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand m-3 logo" href="#">StarTI</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link home active" aria-current="page" href="/home"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/vagas">Vagas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home#about">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home#footer">Contato</a>
        </li>
      </ul>

      <div class="bemVindo" *ngIf="user$ | async as user; else login">
        <i class="fa fa-user-circle fa-2x"></i>
        <a (click)="linkPerfil(user.roles)">Bem vindo(a) {{ user.sub }}</a
        >|
        <a (click)="logout()">Sair &nbsp;<i class="fas fa-sign-out"></i></a>
      </div>

      <ng-template #login>
        <a href="/cadastro"
          ><button class="nav-link getstarted">Cadastrar-se</button></a
        >
        <a href="/signin"><button class="nav-link getstarted">Login</button></a>
      </ng-template>
    </div>
  </div>
</nav>
