<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
  <div class="container-fluid" data-aos="fade-up">
    <div class="row justify-content-center">
      <div
        class="col-xl-5 col-lg-6 pt-3 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center"
      >
        <h1>STARTI Dev</h1>
        <h2>
          As melhores vagas para os profissionais que querem iniciar na carreira
          Tech
        </h2>
        <div>
          <a href="#about" class="btn-get-started scrollto">Get Started</a>
        </div>
      </div>
      <div class="col-xl-4 col-lg-6 order-1 order-lg-2 hero-img">
        <img src="assets/img/hero-img.png" class="img-fluid animated" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- ======= Clients Section ======= -->
<section id="clients" class="clients section-bg">
  <div class="container">
    <div class="row" data-aos="zoom-in">
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="assets/img/clients/xp-inc-new.webp"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="assets/img/clients/serasa-experian.webp"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/clients/CIT-news.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/clients/client-4.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/clients/accenture.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="assets/img/clients/IBM.png" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End Cliens Section -->

<!-- ======= Services Section ======= -->
<section id="services " class="services">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>últimas Vagas</h2>
    </div>
    <div>
      <form class="row" [formGroup]="formulario">
        <div
          class="col-lg-4 col-sm-12"
          *ngFor="let vaga of vagas; let i = index"
        >
          <div class="service-box blue" *ngIf="i < 3">
            <i
              class="fas fa-graduation-cap fa-4x mt-4"
              *ngIf="vagas[i].tipo === 'Estágio'; else other_content"
            ></i>
            <ng-template #other_content
              ><i class="fas fa-cubes fa-4x mt-4"></i
            ></ng-template>

            <h3>{{ vagas[i].cargo }}</h3>
            <p>
              {{ vagas[i].descricao }}
            </p>
            <a href="/vagas" class="read-more"
              ><span>Read More </span> <i class="fas fa-long-arrow-right"></i
            ></a>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
<!-- End Services Section -->

<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Testemunhos</h2>
      <p>Aqui estão alguns testemunhos dos nossos utilizadores</p>
    </div>
    <div class="testimonials-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Olá, sou Felipe Carvalho, CEO da Pfizer! Atualmente estamos implementando diversas tecnologias em nossos processos e precisavamos de pessoas para isso, foi então que contatei com a STARTI para me ajudar a encontrar as melhores pessoas! Tem sido ótimo a experiência, tenho encontrado ótimos candidatos atravês da plataforma, sensacional!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img
              src="assets/img/testimonials/testimonials-1.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Felipe Carvalho</h3>
            <h4>CEO &amp; Pfizer</h4>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Hello people, sou Sara! Adoro criar imagens e banner, sou formada em enfermagem, porém sou apaixonada por tecnologia, fiz um curso rescentemente na Digital House e estava ansiosa por uma oportunidade, foi então que encontrei atravês do STARTI, muito obrigado a todos os criadores da plataforma!!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img
              src="assets/img/testimonials/testimonials-2.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Sara Oliveira</h3>
            <h4>Dev Front-end & Designer</h4>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Oi, sou Carolina! Sou estudante de analise e desenvolvimento de sistemas na UNIP, estava em busca de vagas de estágio e me inscrevi no STARTI, foi então que consegui minha oportunidade no Santander, estou bem feliz e contente em poder iniciar na área, vai ser um grande desafio, mas vamo que vamo, obrigado STARTI!!!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img
              src="assets/img/testimonials/testimonials-3.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Carolina Lemos</h3>
            <h4>Dev Java</h4>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Olá, sou Matheus! Fiz um curso de programação a muito tempo atrás e a pouco tempo fiz um curso na Digital House de Front-end, estava em busca de vaga, porém não estava tendo sucesso, até que encontrei o STARTI e foi então que consegui minha oportunidade, hoje trabalho no mercado livre como desenvolvedor front-end, estou muito feliz. Obrigado STARTI!!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img
              src="assets/img/testimonials/testimonials-4.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>Matheus Silva</h3>
            <h4>Dev Front-end</h4>
          </div>
        </div>
        <!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Sou rescém formado, fiz um curso de Analise de dados na Digital House e comecei a procurar vagas, porém estava difícil encontrar vaga sem ter experiência na área, foi então que encontrei o STARTI e fiz minha inscrição e me candidatei para algumas vagas, logo fui chamado para a entrevista e passei, fiquei muito feliz com essa oportunidade, sou grato ao site e a iniciativa de ajudar os iniciantes a entrar no mercado de trabalho.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img
              src="assets/img/testimonials/testimonials-5.jpg"
              class="testimonial-img"
              alt=""
            />
            <h3>João Gomes</h3>
            <h4>Dev Junior</h4>
          </div>
        </div>
        <!-- End testimonial item -->
      </div>

      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
<!-- End Testimonials Section -->

<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">
    <div class="row gx-0">
      <div
        class="col-lg-6 d-flex flex-column justify-content-center"
        data-aos="fade-up"
        data-aos-delay="200"
      >
        <div class="section-title">
          <h2>Sobre nós</h2>
        </div>

        <div class="content">
          <h2>
            QUEREMOS CONTAR UM POUCO SOBRE QUEM SOMOS E NOSSA HISTÓRIA! VAMOS LÁ? 🚀
          </h2>
          <p>
            Somos uma plataforma de vagas para profissionais da área Tech.
            Nascemos com o proposito de facilitar a entrada no mercado de trabalho para os profissionais em inicio de carreira e rescém formados.
            Hoje contamos com diversas empresas em nossa plataforma divulgando suas vagas e encontrando os melhores e mais engajados profissionais.
          </p>
          <div class="text-center text-lg-start">
            <a
              href="#"
              class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center"
            >
              <span>Read More</span>
              <i class="fas fa-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>

      <div
        class="col-lg-6 d-flex align-items-center"
        data-aos="zoom-out"
        data-aos-delay="200"
      >
        <img src="assets/img/about.jpg" class="img-fluid" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container">
    <div class="section-title">
      <h2>A Equipe</h2>
      <h3>Our Hardworking <span>Team</span></h3>
      <p>
        Nossa base estratégica de negócios tem como objetivo principal conectar pessoas e empresas, facilitando a busca por vaga e candidato.
      </p>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/barbara.jpg" class="img-fluid" alt="" />
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
          </div>

          <div class="member-info">
            <h4>Bárbara Pimenta</h4>
            <span>Chief Executive Officer</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/dayane.jpg" class="img-fluid" alt="" />
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Dayane Leal</h4>
            <span>Product Manager</span>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
        <div class="member">
          <div class="member-img">
            <img src="assets/img/team/kelly.jpg" class="img-fluid" alt="" />
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-facebook"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Kelly Pineo</h4>
            <span>CTO</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Team Section -->

<div class="division"></div>

<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Perguntas Frequentes</h2>
    </div>

    <ul class="faq-list accordion" data-aos="fade-up">
      <li>
        <a data-bs-toggle="collapse" class="collapsed" data-bs-target="#faq1"
          >Como candidatar-se a vagas?
          <i class="fa fa-angle-down icon-show"></i
          ><i class="fa fa-times icon-close"></i
        ></a>
        <div id="faq1" class="collapse" data-bs-parent=".faq-list">
          <p>
            Para candidatar-se é necessário fazer o cadastro no site e aplicar-se para a vaga desejada.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq2" class="collapsed"
          >Sou empresa, como divulgar minha vaga?
          <i class="fa fa-angle-down icon-show"></i
          ><i class="fa fa-times icon-close"></i
        ></a>
        <div id="faq2" class="collapse" data-bs-parent=".faq-list">
          <p>
            Caso seja uma empresa e deseje anunciar suas vagas em nosso site, primeiro deve se candidatar em nosso site na aba de pessoa juridica, depois será redirecionado a página de informações, planos e pagamento.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq3" class="collapsed"
          >Quem pode se inscrever para as vagas?
          <i class="fa fa-angle-down icon-show"></i
          ><i class="fa fa-times icon-close"></i
        ></a>
        <div id="faq3" class="collapse" data-bs-parent=".faq-list">
          <p>
            Nossas vagas são direcionadas para todos candidatos que possuem interesse na área de tecnologia.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq4" class="collapsed"
          >Sou empresa, quero falar sobre contratos?
          <i class="fa fa-angle-down icon-show"></i
          ><i class="fa fa-times icon-close"></i
        ></a>
        <div id="faq4" class="collapse" data-bs-parent=".faq-list">
          <p>
            Para falar sobre contratos peço que direcione um e-mail para o financeiro@starti.com
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq5" class="collapsed"
          >Não tenho experiência prévia, posso me inscrever para as vagas?
          <i class="fa fa-angle-down icon-show"></i
          ><i class="fa fa-times icon-close"></i
        ></a>
        <div id="faq5" class="collapse" data-bs-parent=".faq-list">
          <p>
            Sim, nossas vagas são para candidatos iniciantes ou em busca da primeira oportunidade na carreira tecnologica. Sinta-se a vontade para se inscrever nas vagas.
          </p>
        </div>
      </li>

      <li>
        <a data-bs-toggle="collapse" data-bs-target="#faq6" class="collapsed"
          >Perdi meu acesso, como faço para recuperar? <i class="fa fa-angle-down icon-show"></i
          ><i class="fa fa-times icon-close"></i
        ></a>
        <div id="faq6" class="collapse" data-bs-parent=".faq-list">
          <p>
            Entre em contato com nossa equipe para te ajudarmos com os próximos passos.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- End Frequently Asked Questions Section -->
